# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

.DS_Store

._*

.metadata
# Eclipse stuff
.settings/
.classpath
.project
# Idea
.idea

